@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Inter&family=Mochiy+Pop+One&family=Montserrat:wght@600&family=Outfit:wght@400;700&family=Poppins:wght@500&family=Prata&family=Roboto&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}


a {
    text-decoration: none;
    color: white;
}


/* utilities classes */

.flex {
    display: flex;
    /* align-items: center; */
}



nav {
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 1.3rem 1rem;
    font-size: 1.3rem;
    background-color: black;
    color: white
}

.logo {
    font-weight: bold;
}

.logo img {
    height: 2rem;
}

.line {
    height: 2rem;
    width: 0.15rem;
    margin-inline: .2rem;
    background-color: white;
    border-radius: 2px;
}
nav span{
    font-weight: 400;
}

.right-items {
    gap: 1rem;
}

.submit-btn {
    padding: .5rem 2rem;
    font-size: 1.3rem;
    border: 2px solid white;
    border-radius: .5rem;
}

.sign-in-btn {
    padding: .5rem 2rem;
    font-size: 1.3rem;
    background-color:
        #4C5FD5;
    border-radius: .5rem;
    transition: ease-in;
    transition-duration: 200ms;
}

.sign-in-btn:hover {

    background-color:
        #fff;
    color: #000;


}

nav svg {
    display: none;

}

nav .svg {
    margin-top: .3rem;
    gap: .5rem;
}


/* section-01 */
.section-home {
    background-color:
        #dadbf1;
    padding: 7rem 0;
}

.home-content {

    text-align: center;
    padding: 0 1rem;

}

.home-content h1 {
    padding: 1rem 0;
    font-size: 1.9rem;
    font-weight: 500;
    font: bold;
    /* background:pink; */
}

.input {
    position: relative;
    margin: auto;
    height: 3rem;
    max-width: 45rem;
    /* background-color: pink; */

}

input {
    width: 100%;
    height: 100%;
    padding: 2rem;
    border-radius: .4rem;
    border: 2px solid blue;
    outline: none;
}

.input .svg {
    position: absolute;
    right: 1rem;
    bottom: .1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #000; */
}









/* featured-section */









.featured {
    padding: 10rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.box-container {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.box {
    display: flex;
    justify-content: center;
    gap: 1rem;
    max-width: 35rem;

    /* background: #000; */
}

.box .icon img {
    height: 4.5rem;
}

.featured-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.featured-content h1 {
    font-weight: bold;
    font-size: 1.5rem;
}

.featured-content p {
    max-width: 30rem;
    /* background-color: pink; */
    font-size: 1.5rem;
    list-style: 2rem;
    font-weight: 100;
}

.featured-content h4 {
    color: blue;
    font-size: 1.2rem;
}

.featured-content h4:hover {
    color: blue;
    font-size: 1.2rem;
    text-decoration: underline;
}





/* footer */

footer {
    background-color: black;
    padding: 5rem 1rem;
    color: white;
}

.footer-1 {
    display: flex;
    flex-direction: column;
    gap: 4rem;

}

.footer-box-container {
    display: flex;
    gap: 1rem;
}

.footer-box {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    width: 50%;
}

.footer-box h4 {
    font-size: 1.5rem;
    padding-bottom: .5rem;
    color: white;
}

.footer-box .contact {
    padding-top: 2rem;
}

.footer-2 {
    padding-top: 3rem;
    font-size: 1.25rem;

}








.query {
    position: fixed;
    height: 2.8rem;
    width: 6.8rem;
    bottom: 1rem;
    right: 1rem;
    background-color: blue;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: white;
    padding: 1rem 1rem;
}

.white-circle {
    height: 1.5rem;
    width: 1.5rem;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}